<div class="sidebar-content">
  <div class="card">
    <!-- SIDEBAR HEADER -->
    <div class="header p-24" fxLayout="row" fxLayoutAlign="start center">
      <!-- USER -->
      <img
        [src]="'assets/images/Icons-Añadidos/user-192.png'"
        class="avatar mr-16"
        [alt]="user.name"
      />
      <span class="h5">{{ user ? user.name : "" }}</span>
      <!-- / USER -->
    </div>
    <!-- / SIDEBAR HEADER -->

    <!-- SIDEBAR CONTENT -->
    <div class="content py-16" fusePerfectScrollbar>
      <div class="nav material2">
        <div class="nav-item" aria-label="inbox">
          <a class="nav-link" matRipple (click)="changeFilterAllInv()">
            <span class="title">Todos los invitados</span>
          </a>
        </div>

        <div
          class="nav-item"
          aria-label="frequently contacted"
          (click)="changeFilterXCamp()"
        >
          <a class="nav-link" matRipple>
            <div class="title">Invitados de la Campaña</div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- / SIDEBAR CONTENT -->
