<div id="products" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent"
             fxLayout="column" fxLayoutAlign="center center"
             fxLayout.gt-sm="row" fxLayoutAlign.gt-sm="space-between center">

            <!-- APP TITLE -->
            <div class="logo mb-24 mb-md-0"
                 fxLayout="row" fxLayoutAlign="start center">
                <mat-icon class="logo-icon s-32 mr-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    shopping_basket
                </mat-icon>
                <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    {{'LIST.MY_CAMPAIGNS' | translate}}
                </span>
            </div>
            <!-- / APP TITLE -->

            <!-- SEARCH -->
            <div class="search-wrapper mx-32 mx-md-0">
                <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon>search</mat-icon>
                    <input #filter [placeholder]="'LIST.SEARCH' | translate">
                </div>
            </div>
            <!-- / SEARCH -->

            <!-- ADD BUTTON -->
            <button mat-raised-button
                    [routerLink]="'/campaigns/forms'"
                    class="add-product-button fuse-white mt-24 mt-md-0">
                <span>{{'LIST.NEW_CAMPAIGN' | translate}}</span>
            </button>
            <!-- / ADD BUTTON -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <mat-table class="products-table"
                       #table 
                       [dataSource]="dataSource"
                       matSort
                       (matSortChange)="sortData($event)"
                       [@animateStagger]="{value:'50'}"
                       fusePerfectScrollbar>

                <!-- ID Column -->
                <ng-container matColumnDef="id">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>#</mat-header-cell>
                    <mat-cell *matCellDef="let campaign">
                        <p class="text-truncate">{{campaign.id}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Icon Column -->
                <!-- <ng-container matColumnDef="logo">
                    <mat-header-cell *matHeaderCellDef>{{'LIST.ICON' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let product">
                        <img class="product-image"
                             *ngIf="product.logo !== null" [alt]="product.logo.titulo"
                             [src]="loadImage(product.logo)"/>
                        <img *ngIf="product.logo === null"
                             [src]="'assets/images/ecommerce/product-image-placeholder.png'">
                    </mat-cell>
                </ng-container> -->
                <!-- Title Column-->
                <ng-container matColumnDef="nombre">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'LIST.TITLE' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign">
                        <p class="text-truncate">{{campaign.nombre}}</p>
                    </mat-cell>
                </ng-container>
                <!-- Contanct Phone Column -->
                <ng-container matColumnDef="contanctoTelefono">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'LIST.PHONE_CONTACT' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign">
                        <p class="text-truncate">{{campaign.contanctoTelefono}}</p>
                    </mat-cell>
                </ng-container>

                <!-- Code Postal Column -->
                <ng-container matColumnDef="direccionPostal">
                    <mat-header-cell *matHeaderCellDef mat-sort-header >{{'LIST.POSTAL_CODE' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign">
                        <p class="category text-truncate">
                            {{campaign.direccionPostal}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Contact Facebook Column -->
                <ng-container matColumnDef="contactoFacebook">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{'LIST.FACEBOOK' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{campaign.contactoFacebook}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Contact Telegram Column -->
                 <ng-container matColumnDef="contactoTelegram">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{'LIST.TELEGRAM' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{campaign.contactoTelegram}}
                        </p>
                    </mat-cell>
                </ng-container>

                 <!-- Contact WhatsApp Column -->
                 <ng-container matColumnDef="contactoWhatsapp">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{'LIST.WHATSAPP' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign" fxHide fxShow.gt-xs>
                        <p class="price text-truncate">
                            {{campaign.contactoWhatsapp}}
                        </p>
                    </mat-cell>
                </ng-container>

                <!-- Active Column -->
                <ng-container matColumnDef="active">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>{{'LIST.ACTIVE' | translate}}</mat-header-cell>
                    <mat-cell *matCellDef="let campaign" fxHide fxShow.gt-xs>
                        <mat-icon *ngIf="campaign.active" class="active-icon green-600 s-16">check</mat-icon>
                        <mat-icon *ngIf="!campaign.active" class="active-icon red-500 s-16">close</mat-icon>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

                <mat-row *matRowDef="let campaign; columns: displayedColumns;"
                         class="product"
                         matRipple
                         [routerLink]="'/campaigns/campaigns-detail/'+campaign.id">
                </mat-row>

            </mat-table>

            <mat-paginator #paginator
                           [length]="dataSource.countCampaigns"
                           [pageIndex]="0"
                           [pageSize]="10"
                           [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>

        </div>
        <!-- / CONTENT CARD -->
    </div>
    <!-- / CENTER -->
</div>
