<div class="dialog-content-wrapper">
  <mat-toolbar matDialogTitle class="mat-accent m-md-0">
    <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
      <span class="title dialog-title">{{ dialogTitle }}</span>
      <button
        mat-icon-button
        (click)="matDialogRef.close()"
        aria-label="Close dialog"
      >
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar-row>

    <mat-toolbar-row
      class="toolbar-bottom py-14"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="contact-name mt-8">
        {{ nameCamp }}
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <div mat-dialog-content class="p-15 pb-0 m-0" fusePerfectScrollbar>
    <form [formGroup]="invUserForm">
      <h3>Invitado: {{ contact.nombre }}</h3>
      <div class="tab-content p-15" fusePerfectScrollbar>
        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="w-100-p"
        >
          <mat-label>Asignar Contraseña</mat-label>
          <input
            #pass
            type="password"
            matInput
            placeholder="Contraseña"
            formControlName="password"
            required
            minlength="8"
            maxlength="8"
          />
          <mat-error *ngIf="invUserForm.get('password').hasError('required')">
            Contraseña requerida
          </mat-error>
          <mat-error *ngIf="invUserForm.get('password').hasError('minLength')">
            Máximo 8 caracteres
          </mat-error>
        </mat-form-field>

        <mat-form-field
          appearance="outline"
          floatLabel="always"
          class="w-100-p"
        >
          <mat-label>Confirmar contraseña</mat-label>
          <input
            #passConf
            matInput
            required
            minlength="8"
            maxlength="8"
            placeholder="Confirmar contraseña"
            type="password"
            formControlName="passwordConfirm"
          />
          <mat-error
            *ngIf="invUserForm.get('passwordConfirm').hasError('required')"
          >
            Confirmación de contraseña requerida
          </mat-error>
          <mat-error
            *ngIf="
              pass.value != passConf.value &&
              !invUserForm.get('passwordConfirm').hasError('required')
            "
          >
            La contraseña no coincide
          </mat-error>
        </mat-form-field>
        <br />
        <span>Se envirá un correo notificando al usuario</span>
        <br />
        <span>Correo del usuario: {{ contact.correo }}</span>
      </div>
    </form>
  </div>

  <div
    mat-dialog-actions
    class="m-0 p-16"
    fxLayout="row"
    fxLayoutAlign="end center"
  >
    <button
      #asociar
      mat-raised-button
      class="mr-8"
      [disabled]="invUserForm.invalid"
      aria-label="Asociar"
      matTooltip="Asociar"
      (click)="asociarAcamp(contact)"
    >
      Asociar
    </button>
  </div>
</div>
