<div id="product" class="page-layout carded fullwidth inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

            <!-- APP TITLE -->
            <div fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/apps/e-commerce/products'">
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div class="product-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                    <img *ngIf="product.images[0]" [src]="product.images[0].url">
                    <img *ngIf="!product.images[0]" [src]="'assets/images/ecommerce/users.png'">
                </div>

                <div fxLayout="column" fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                    <div class="h2" *ngIf="pageType ==='new'">
                        Nuevo Invitado
                    </div>
                    <div class="subtitle secondary-text">
                        <span>Invitado a colaborar con el administrador (Con limitaciones) </span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

            <button mat-raised-button class="save-product-button" [disabled]="productForm.invalid"
                *ngIf="pageType ==='new'" > <!--(click)="addProduct()"-->
                <span>Agregar</span>
            </button>

            <button mat-raised-button class="save-product-button"
                [disabled]="productForm.invalid || productForm.pristine" *ngIf="pageType ==='edit'"
                (click)="saveProduct()">
                <span>SAVE</span>
            </button>
        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <form name="productForm" [formGroup]="productForm" class="product w-100-p" fxLayout="column" fxFlex>

                    <mat-card>
                        <h2 id="InfoTitle">Información Básica</h2>
                        <br>
                        <div class="tab-content p-24" fusePerfectScrollbar>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Nombre</mat-label>
                                <input matInput placeholder="Nombre" name="name" formControlName="name" required>
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">
                                <mat-label>Correo</mat-label>
                                <input matInput placeholder="Email" formControlName="email" required type="email">
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                <mat-label>Teléfono</mat-label>
                                <input matInput placeholder="Teléfono" formControlName="phone" required
                                    inputmode="numeric" maxlength="8">
                            </mat-form-field>

                            <mat-form-field appearance="outline" floatLabel="always" class="w-100-p">

                                <mat-label>Dirección</mat-label>

                                <input matInput placeholder="Dirección" name="dirección" formControlName="dirección"
                                    rows="2" maxlength="125">
                            </mat-form-field>

                        </div>

                    </mat-card>

                </form>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>