<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Checkbox Column -->
    <ng-container matColumnDef="checkbox">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let opinion">
            <mat-checkbox [(ngModel)]="checkboxes[opinion.id]" (ngModelChange)="onSelectedChange(opinion.id)"
                          (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-cell>
    </ng-container>

    <!-- Avatar Column -->
    <ng-container matColumnDef="avatar">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let opinion">
            <img class="avatar" *ngIf="opinion.avatar" [alt]="opinion.name"
                 [src]="opinion.avatar"/> 
        </mat-cell>
    </ng-container> 

    <!-- User Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>User</mat-header-cell>
        <mat-cell *matCellDef="let opinion">
            <p class="text-truncate font-weight-600">{{opinion.<form>
                opinion.user,
            </form>}} </p>
        </mat-cell>
    </ng-container>

    <!-- Opinion Column -->
    <ng-container matColumnDef="email">
        <mat-header-cell *matHeaderCellDef fxHide fxShow.gt-sm>Email</mat-header-cell>
        <mat-cell *matCellDef="let opinion" fxHide fxShow.gt-sm>
            <p class="email text-truncate">
                {{opinion.Text}}
            </p>
        </mat-cell>
    </ng-container>

    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let opinion">
            <div fxFlex="row" fxLayoutAlign="end center">
                <button mat-icon-button (click)="$event.stopPropagation();toggleStar(opinion.id)" aria-label="Toggle star">
                    <mat-icon class="amber-fg" *ngIf="opinion.starred.includes(opinion.id)">star</mat-icon>
                    <mat-icon class="secondary-text" *ngIf="!opinion.starred.includes(opinion.id)">star_border</mat-icon>
                </button>

                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteOpinion(opinion)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

    

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let opinion; columns: displayedColumns;"
             class="opinion"
             (click)="editOpinion(opinion)"
             [ngClass]="{'accent-50':checkboxes[opinion.id]}"
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>