<div id="opinion" class="page-layout carded left-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- SIDEBAR -->
    <fuse-sidebar class="sidebar" name="box-main-sidebar" position="left" lockedOpen="gt-md">
        <mailbox-main-sidebar></mailbox-main-sidebar>
    </fuse-sidebar>
    <!-- / SIDEBAR -->

    <!-- CENTER -->
    <div class="center">

        <!-- CONTENT HEADER -->
        <div class="header" fxLayout="row" fxLayoutAlign="start center">

            <div class="search-wrapper" fxFlex fxLayout="row" fxLayoutAlign="start center">

                <button mat-icon-button class="sidebar-toggle" fxHide.gt-md
                        (click)="toggleSidebar('mailbox-main-sidebar')">
                    <mat-icon>menu</mat-icon>
                </button>

                <div class="search" fxLayout="row" fxLayoutAlign="start center">
                    <mat-icon class="secondary-text">search</mat-icon>
                    <input [formControl]="searchInput" [placeholder]="'SEARCH' | translate" fxFlex>
                </div>

            </div>

        </div>
        <!-- / CONTENT HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card" [ngClass]="{'current-mailbox-selected':currentOpinion}">

            <!-- CONTENT TOOLBAR -->
            <div class="toolbar px-24 py-8">

                <div class="mailbox-selection" fxFlex="row" fxLayoutAlign="start center">
                    <mat-checkbox (click)="toggleSelectAll()" [checked]="hasSelectedOpinions"
                                  [indeterminate]="isIndeterminate"></mat-checkbox>

                    <button mat-icon-button [matMenuTriggerFor]="selectMenu">
                        <mat-icon>arrow_drop_down</mat-icon>
                    </button>
                    <mat-menu #selectMenu="matMenu">
                        <button mat-menu-item (click)="selectOpinions()">All</button>
                        <button mat-menu-item (click)="deselectOpinions()">None</button>
                        <button mat-menu-item (click)="selectOpinions('read', true)">Read</button>
                        <button mat-menu-item (click)="selectOpinions('read', false)">Unread</button>
                        <button mat-menu-item (click)="selectOpinions('starred', true)">Starred</button>
                        <button mat-menu-item (click)="selectOpinions('starred', false)">Unstarred</button>
                        <button mat-menu-item (click)="selectOpinions('important', true)">Important</button>
                        <button mat-menu-item (click)="selectOpinions('important', false)">Unimportant</button>
                    </mat-menu>

                    <div class="toolbar-separator" *ngIf="hasSelectedOpinions"></div>

                    <button mat-icon-button (click)="setFolderOnSelectedOpinions(4)" *ngIf="hasSelectedOpinions">
                        <mat-icon class="secondary-text">delete</mat-icon>
                    </button>

                    <!-- <button mat-icon-button [matMenuTriggerFor]="folderMenu" *ngIf="hasSelectedOpinions">
                        <mat-icon class="secondary-text">folder</mat-icon>
                    </button>
                    <mat-menu #folderMenu="matMenu">
                        <button mat-menu-item *ngFor="let folder of folders"
                                (click)="setFolderOnSelectedOpinions(folder.id)">{{folder.title}}
                        </button>
                    </mat-menu> -->

                    <!-- <button mat-icon-button [matMenuTriggerFor]="labelMenu" *ngIf="hasSelectedOpinions">
                        <mat-icon class="secondary-text">label</mat-icon>
                    </button>
                    <mat-menu #labelMenu="matMenu">
                        <button mat-menu-item *ngFor="let label of labels"
                                (click)="toggleLabelOnSelectedOpinions(label.id)">{{label.title}}
                        </button>
                    </mat-menu> -->
                </div>

                <div *ngIf="currentOpinion" fxHide.gt-xs>
                    <button mat-icon-button (click)="deselectCurrentOpinion()">
                        <mat-icon class="secondary-text">arrow_back</mat-icon>
                    </button>
                </div>
            </div>
            <!-- / CONTENT TOOLBAR -->

            <!-- CONTENT -->
            <div class="content" fxLayout="row">

             <!-- <ng-container *ngIf="showOpinionList; else hideOpinionList"> -->

              <mailbox-list fusePerfectScrollbar fxFlex></mailbox-list>

              <!-- </ng-container>
              <ng-template #hideOpinionList> -->
                <opinion-details fusePerfectScrollbar fxFlex></opinion-details>
               <!-- </ng-template> -->
            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->

</div>
